
@font-face {
    font-family: architex;
    src: url(../fonts/Architex.ttf);
}

a:link {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: coral;
    background-color: hotpink;
}
header{
    text-align: center;
    font-family: architex;
    font-size: 40px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-image:url(../images/background.jpg);
    background-blend-mode: overlay;
    background-color: floralwhite;
    opacity: 0.8; 

}
body {
    background-color: rgba(192,160,124,.5);
    background-image: url(../images/backgroundpattern.jpg);
}
ul {
    
    list-style-type: none;
    margin-top: inherit;
    padding: 0;
    font-family: architex;
    border-style: solid;
    background-color:floralwhite;
    position:inherit;
    background-image:url(../images/background.jpg);
    background-blend-mode: overlay;
    opacity: 0.8; 
    
    
}
ul li {
    
    display: inline;
    float: center;
    padding-left: 250px;
    font-size: 26px;      
}
.infoBox {
    position:absolute;
    right:10px;
    
}
img {
    display: block;
    border: 2px solid;
    border-radius: 20px 60px 20px;
    box-shadow: 5px 5px #000000;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
.flag {
    position:absolute;
    left:470px;
    top:550px;
}
.bike {
    position:absolute;
    right:0px;
    top:750px;
    padding-bottom: 20px;
    
}
p {
    text-align:center;
    font-size:20px;
    border-style: solid;
    border-color: darksalmon;
    border-width: 2px;
    background-color:whitesmoke;
    margin: 300px, 500px,300px,300px;
    font-family: helvetica;
    
}
